.wtc-header {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .wtc-header__main-link {
    padding: 15px;
    float: left;
    text-decoration: none;
    color: cadetblue;
    font-size: 12px;
  }
  .wtc-header__right-content {
    float: right;
    padding-right: 10px;
  }
}
